{# Set up skeleton specific runtime tasks #}

{% if include_mode == "graph" %}

                fcm_make-skeleton-{{build}} => \
                configurate-skeleton-{{build}} => \
                psyclone-skeleton-{{build}} => \
                fcm_make2-skeleton-{{build}}

  {% if "crayftn" not in build %}
                fcm_make2-skeleton-{{build}} => \
                skeleton-{{build}}-{{config}}

                generate_weights-skeleton-{{config}} => \
                skeleton-{{build}}-{{config}}
  {% endif %}

{% endif %}

{% if include_mode == "runtime" %}

  {% set util_name = "skeleton" %}
  {% include "templates/template_builds.rc" %}

    [[skeleton-{{build}}-{{config}}]]
        inherit = {{build_family}}, {{queue_fam}}, METO_{{platform_fam}}_{{num_tasks}}_TASKS, {{platform_fam}}
        env-script = "eval $(rose task-env)"
        script = "{{TASK_RUN}} --path= --path='share/fcm_make-skeleton-{{build}}/build/bin'"
        [[[environment]]]
            ROSE_TASK_APP = {{skeleton_configs[config]["app"]}}
            ROSE_APP_OPT_CONF_KEYS = {{skeleton_configs[config]["opt_config"]}}
            NUMBER_OF_LAYERS = {{skeleton_configs[config]["source_grid_levs"]}}
            SOURCE_DUMP = {{skeleton_configs[config]["source_dump"]}}
            LFRIC_MESH_FILE = {{skeleton_configs[config]["lfric_mesh"]}}
            WEIGHT_LOC = $ROSE_SUITE_DIR_REL/work/1/generate_weights-skeleton-{{config}}

    {% set task_name = "skeleton-" + build + "-" + config %}

{% endif %}
